  .nav-link:hover {
    color: #b3114f;
  }
  
  .nav-link {
    color: #b024c9;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: 25px;
    padding: 15px;
  }

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
  }
  
 
  
  
  